[submodule "ace-builds"]
	path = sharejs-ace/ace-builds
	url = git@github.com:xolvio/ace-builds.git
[submodule "codemirror"]
	path = sharejs-codemirror/codemirror
	url = https://github.com/marijnh/codemirror
